{% extends "ToolShare/base/base_navbar.html" %}
{% load staticfiles %}

<!-- Template for the About page -->

{% block title %} Tool Share - about {% endblock %}

{% block active_abo %} active {% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">

<h1><u>About Us</u></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis cursus lectus ut aliquet. Aliquam imperdiet risus augue, at aliquam metus adipiscing ac. Donec et accumsan nisl. Donec feugiat, felis non gravida scelerisque, enim neque malesuada massa, a tincidunt mauris ante at ligula. Donec aliquam varius scelerisque. Ut bibendum nisl pharetra vehicula sodales. Integer vitae pulvinar erat, quis luctus orci. Nam sed quam vitae justo laoreet placerat non sit amet sem. Mauris condimentum id nulla vitae sodales. Cras ultricies, turpis non ultricies lobortis, quam quam pellentesque nibh, non sollicitudin massa nisi at velit. Donec ut enim scelerisque, vestibulum felis at, porttitor quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer et nibh sit amet risus tincidunt semper sit amet sed augue. In et libero mattis mauris dignissim egestas.</p>

<p>Ut vel arcu vitae enim imperdiet eleifend. Aliquam elit justo, tincidunt id eros non, imperdiet suscipit sem. Proin viverra placerat orci. Vestibulum porta nunc eu nulla euismod rhoncus. Vestibulum mauris est, feugiat vel quam eu, egestas feugiat libero. Morbi semper, nisl vitae dictum pellentesque, turpis dui porta sem, sit amet sagittis odio velit eu turpis. Curabitur et elit vel turpis semper aliquam et sed dui.</p>

<p>Maecenas diam est, ultrices non iaculis id, posuere ornare sapien. Ut eget malesuada velit. Nulla et consectetur augue. Pellentesque dui nibh, malesuada et pulvinar quis, sagittis et dolor. Ut congue tellus et odio cursus, ac sagittis eros sodales. Phasellus porta ut nisi eleifend rhoncus. Vestibulum eget tincidunt mi.</p>

<p>Mauris a elit fringilla, semper lectus id, aliquet est. Curabitur quis eros et tellus lobortis feugiat. Vivamus eget mauris risus. Cras consequat risus et tortor posuere, non rutrum augue lacinia. Sed congue fermentum enim sed luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vulputate leo mi, eu bibendum neque dignissim quis. Fusce ultricies in dolor ac tempus. Cras urna mauris, tempor a est sed, vulputate laoreet lectus. Donec aliquam fringilla diam.</p>

<p>Fusce purus purus, dignissim nec diam non, venenatis viverra tortor. Donec augue sapien, sodales id tortor a, consectetur suscipit eros. Nunc semper odio quis felis ornare, sit amet fringilla mauris adipiscing. Vestibulum elementum varius justo eget dapibus. Sed ut massa lorem. Vestibulum suscipit vel sem in dictum. Nullam diam eros, sollicitudin tempus magna in, tristique interdum tortor. Etiam in est eu mauris aliquam pulvinar dapibus eu leo. Integer sit amet faucibus mi. In eu molestie nibh, ac imperdiet nisl. Morbi libero neque, viverra eget vulputate vel, interdum at sem. Aliquam lobortis purus quis justo adipiscing, ut faucibus ante tempus. Suspendisse potenti. Phasellus eget est diam. Fusce purus neque, fringilla nec tincidunt aliquet, elementum vel nibh.</p>

</div>
{% endblock %}